/**GLOBAL STYLES**/

h1{
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
