@import "tailwindcss";
/* responsive sizing */
/* html {
    font-size: 60%;
}

/* Tablet and larger */
/* @media (min-width: 768px) {
    html {
        font-size: 80%;
    }
} */

/* Desktop and larger */
/* @media (min-width: 1024px) {
    html {
        font-size: 100%;
    }
} */